$footer-height: 100px;
$footer-height-mobile: 275px;

/* Set the fixed height of the footer here */
footer {
  height:$footer-height;
  color:white;
  background-color: rgba(36,32,33,0.9);
  font-family: "Helvetica Neue",Helvetica;
  padding:10px 0px;
  margin-top:30px;
  font-weight:100;
}

@media (max-width: 750px) {
  footer {
    height:$footer-height-mobile;
    padding: 10px 0px;
  }

  footer .social {
  	margin-top:10px;
  }

  .myfooterlinks {
  	margin-top: 5px;
  }
}

#footer a {
  color:white;
  font-weight:100;
}

.social-button {
  width: 32px;
  margin: 4px;
}

.social a:hover {
  text-decoration:none;
}
